

.boardCell{
    position: relative;
    width:16.667%;
    height:12.5%;
}

.dataText{
    position: absolute;
    top: calc( 50% - 10px);
    left: calc( 50% - 10px);
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    background: rgba(0,0,0,0.7)
}

.backgroundCellImage{
    margin:auto;
    display:block;
    width:80%;
    height:auto;
}
.svgImage{
    position: absolute;
    top:0;
    left:0;

}


.nopadding{
    padding:0;
}

.backgroundTable{
    border: 0px;
    border-collapse:collapse;
}
.backgroundTableCell{
    border: 1px solid black;
}

.container{
    display: table-cell;
    border-radius: 25px;
    border: 5px solid #008080;
    padding: 10px;
    width: calc(100% - 50px);
    margin:0;
    height: calc(100% - 10px);
    position: relative;
}

.boardTable{
}


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.help{
    display:inline-flex;

    width: calc( 100% - 5px);
    max-width:560px;
    height: 12.5%;
    margin:2px;
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
  }


.countText{
    position: absolute;
    bottom: 0;
    right:0;
    font-size: 15px;
    color: #000;
    line-height: 15px;
    text-align: center;
}

.currentCard{
    margin:5px;
    width: 50px;
    height: 50px;
    background-color: white;
    position: relative;
}