<div class="container">

  <div class="underboard">
    <table style="width:100%;height:100%" class="backgroundTable">
      <tr *ngFor="let row of dataRow" class="nopadding backgroundTableCell">
        <td *ngFor="let column of dataColumn" class="boardCell nopadding backgroundTableCell">
          <img [src]="getBackground(row,column)" class="backgroundCellImage" />
        </td>
      </tr>
    </table>

  </div>

  <div class="overboard">
    <table style="width:100%;height:100%">
      <tr *ngFor="let row of dataRow">
        <td *ngFor="let column of dataColumn" class="boardCell unselectable" (click)="onClick(row,column)">
          <svg *ngIf="getHiddenAngle(row,column)" width="90px" height="86px" viewBox="0 0 90 90">
            <g [attr.transform]="'rotate('+getRotate(row,column)+' 45 45)'">

              <path d="M 45 45 l 45 0" stroke="black" stroke-width="10" fill="none" />
              <path d="M 45 45 l 0 45" stroke="black" stroke-width="10" fill="none" />
            </g>
          </svg>

          <svg *ngIf="getHiddenline(row,column)" width="90px" height="86px" viewBox="0 0 90 90">
            <g [attr.transform]="'rotate('+getRotate(row,column)+' 45 45)'">

              <path d="M 0 45 l 90 0" stroke="black" stroke-width="10" fill="none" />
            </g>
          </svg>
          <span *ngIf="getHiddentext(row,column)" class="dataText">{{data[row + column * 7]}}</span>

        </td>
      </tr>
    </table>

  </div>

</div>
<div class="help">
  <table style="width:100%;height:100%">
    <tr>
      <td *ngFor="let column of dataColumn" class="boardCell unselectable">
        <svg *ngIf="getHiddenAngle(10,column)" width="90px" height="86px" viewBox="0 0 90 90">
          <g [attr.transform]="'rotate('+getRotate(10,column)+' 45 45)'">

            <path d="M 45 45 l 45 0" stroke="black" stroke-width="10" fill="none" />
            <path d="M 45 45 l 0 45" stroke="black" stroke-width="10" fill="none" />
          </g>
        </svg>

        <svg *ngIf="getHiddenline(10,column)" width="90px" height="86px" viewBox="0 0 90 90">
          <g [attr.transform]="'rotate('+getRotate(10,column)+' 45 45)'">

            <path d="M 0 45 l 90 0" stroke="black" stroke-width="10" fill="none" />
          </g>
        </svg>
        <span class="dataText">{{column+1}}</span>

      </td>
    </tr>
  </table>
</div>